<style>
    .bar{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
     
      color: black;
      text-align: center; 
     
    }
   
    
      
</style>


<div class="bar">
    <ang-music-player [audioList] = personObject width="98.7vw" height="120px" timeSliderColor="black" repeatButtonColor="black" backgroundColor="#282A35" audioTimeColor ="black" audioTitleColor ="black" volumeSliderColor ="black" playButtonColor ="black" pauseButtonColor ="black" nextButtonColor ="black" previousButtonColor ="black"   volumeButtonColor ="black" muteButtonColor ="black"></ang-music-player>
<!--    
        <button class="btn btn-danger" (click)="clear()"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
    
    
    
</div>

<!-- <p>Count in App Component  =  {{ count }}</p> -->



