

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" class="img-fluid" style="height: 30px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item ">
          <a class="nav-link" routerLink="/nowplaying">Now Playing</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/playing">Playing</a>
        </li>
  
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/zodiac">Zodiac</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/github">Github</a>
            <a class="dropdown-item" routerLink="/showall">All</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/music">Music</a>
          </div>
        </li> -->
       
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0" #namesearch="ngForm" (ngSubmit)="searchmovie(namesearch)">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  
 
<router-outlet></router-outlet>
<app-nowplaying></app-nowplaying>
