<!-- <p>playing works!</p>

<button (click) = "play()">Play</button>
<button (click) = "pause()">Pause</button> -->

<div class="container" style="margin-bottom: 100px;">
   <div class="row cant d-flex " >
       <div class="col-md-6" >
           <div class="p-3 card">
            <button class="btn btn-danger btn-block playlist text-uppercase"> My Playlist</button>
               <div class="d-flex justify-content-between align-items-center p-1 music"  *ngFor="let item of songslist">
                   <div class="d-flex flex-row align-items-center"> <img [src]="item.cover" width="50px" height="50px" style="border-radius: 10px" > <small class="ml-2"> {{item.title | strformat2:item.title:'&quot\;':'"' }}</small> </div> <div><i class="fa fa-play color" (click)="playsong(item)" style="padding-right: 10px;" hidden={{hide}}></i><i class="fa fa-pause color" (click)="playsong(item)" style="padding-right: 10px;" hidden={{hide}}></i><i class="fa fa-trash color" style="padding-right: 10px;" (click)="clickdelete(item.title)"></i></div>
               </div>
               
               <button class="btn btn-danger btn-block playlist text-uppercase" (click)="clearall()"> Clear All</button>

           </div>
       </div>
   </div>
</div>




